@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.top-header {
  width: 100%;
  height: 48px;
  background-color: #000;
  color: #fff;
}

.shop-now-btn {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.top-header-text {
  width: 550px;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.top-header-desc {
  font-size: 14px;
}

.language-switcher {
  display: flex;
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
}

.top-header-content {
  display: flex;
  width: 859px;
  justify-content: space-between;
}

.hop-header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  display: flex;
  column-gap: 48px;
}

.list-item {
  position: relative;
  line-height: 24px;
}

.list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #000;
  transition: 0.3s ease;
}

.list-item:hover::after {
  width: 100%;
}

.logo-and-nav {
  width: 675px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-section {
  width: 243px;
  height: 38px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 4px;
}

.search-and-cart {
  width: 357px;
  display: flex;
}

.search-text {
  font-size: 12px;
  opacity: 0.5;
}

.search-section img {
  width: 24px;
  height: 24px;
}

.wishlist {
  margin: 0px 16px 0px 24px;
}

.wishlist,
.cart {
  cursor: pointer;
}

/* Main Section */
.main-content {
  display: flex;
  column-gap: 45px;
}

.categories-filter {
  height: 384px;
  width: 233px;
  padding: 40px 16px 0px 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.product-banner {
  width: 892px;
  height: 344px;
  margin-top: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.text-section {
  width: 320px;
  padding: 56px 0px 0px 64px;
}

.image-section {
  width: 496px;
  height: 344px;
}

.iphone-series {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.text-section h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}

/* Sign Up Page */
.sign-up-section {
  width: 552px;
  height: 832px;
  border-radius: 32px;
  margin: 100px auto 0px auto;
  padding: 30px 64px 10px 64px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premium,
.price {
  color: #212628;
  font-size: 25px;
  font-weight: bold;
}

.premium {
  line-height: 48px;
}

.text-sm {
  font-size: 16px;
}

.desc {
  color: #212628;
  line-height: 23px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6;
}

.sign-up-form {
  margin-top: 43px;
}

.input {
  width: 100%;
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 0px 54px 0px 24px;
  outline: none;
  margin-bottom: 27px;
}

.input-card-number {
  background-image: url("../images/card.svg");
  background-repeat: no-repeat;
  background-position: right 25px center;
}

.date-and-cvv {
  display: flex;
  justify-content: space-between;
}

.date-input {
  width: 282px;
}

.cvv-input {
  width: 120px;
}

.select-country {
  width: 282px;
  display: block;
  appearance: none;
  background-image: url("../images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 23px center;
  cursor: pointer;
}

.highlighted a {
  color: #e1306c;
  text-decoration: underline;
}

.desc::after {
  content: "after text";
  color: #e1306c;
}

.desc::before {
  content: "before text";
  color: #e1306c;
}

.checkbox-input {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-input:checked::before {
  content: url("../images/checkmark.svg");
}

.submit-btn {
  margin-top: 29px;
  width: 370px;
  border: none;
  height: 64px;
  border-radius: 32px;
  cursor: pointer;
  background: linear-gradient(
    to left,
    #c23584 0%,
    #e2306c 24%,
    #f77736 84%,
    #fa963e 100%
  );
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.btn-highlighted {
  color: #fff;
  text-decoration: line-through;
  opacity: 0.6;
}

.featured {
  height: 600px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.card-wrapper {
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
}

.playstation-wrapper {
  width: 570px;
  height: 600px;
  background-image: url("../images/playstation.png");
  background-color: #000;
  background-position: 29px 89px;
}

.playstation-text {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 242px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
}

.card-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 16px 0px;
}

.card-link {
  color: #fff;
  position: relative;
  letter-spacing: 1px;
}

.card-link::after {
  content: "";
  height: 1px;
  width: 81px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #8b8b8b;
}

.featured-right-section {
  width: 570px;
  height: 600px;
}

.womens-collection-wrapper {
  width: 570px;
  height: 284px;
  background-image: url("../images/women-collection.png");
  background-color: #0d0d0d;
  background-position-x: 138px;
}

.womens-collection-text {
  position: absolute;
  left: 24px;
  bottom: 24px;
  width: 255px;
}

.speakers-and-perfume {
  width: 570px;
  height: 284px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.speakers-wrapper {
  width: 270px;
  height: 284px;
  background-image: url("../images/speakers.png");
  background-color: #000;
  background-position: center;
}
.speakers-text {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

body {
  overflow-x: hidden;
}

.services {
  max-width: 943px;
  width: 100%;
  min-height: 161px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  /*border: 2px solid green;*/
}

.service-item {
  width: 249px;
  height: 161px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(47, 46, 48, 0.3);
}

.img-section {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #000;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item-title {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0px 8px 0px;
}

.service-item-description {
  font-size: 14px;
}
